@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Overlock+SC&display=swap");

/*
#00DFC0 - light green
#2A454E - dark green
#F0F0F0 - ashe


*/

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Marcellus", serif;
}

/* Navbar */

.navbar {
  display: flex;
  margin: 15px 60px;
  /* justify-content: center;
  align-items: center; */
  position: sticky;
  width: 92%;
  top: 0;

  transition: background-color 200ms;
}

.navbar.sticking {
  background-color: #2a454e;
  margin: 0px;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.navbar.sticking .logo h1 {
  color: #f0f0f0;
  
}

.navbar.sticking .links ul li {
  color: #f0f0f0;
}

.navbar.sticking .hire button {
  margin-top: 7.5px;
  background-color: #f0f0f0;
  color: #2a454e;
}

.logo h1 {
  color: #2a454e;
}

#nav-item:first-child {
  margin-right: auto;
}

#nav-item:last-child {
  margin-left: auto;
}

.links ul {
  display: flex;
}

.links ul li {
  margin-right: 50px;
  list-style-type: none;
  color: #2a454e;
  margin-top: 7.5px;
}

.links ul a {
  text-decoration: none;
}

.links ul a:hover {
  font-weight: bold;
}

.hire button {
  background-color: rgba(124, 124, 124, 0.51);
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #2a454e;
  color: #f0f0f0;
  border: 0;
  cursor:pointer;
}

.hire button:hover {
  font-weight: bolder;
}

/* hero */

.hero {
  display: flex;
  margin: 5% 60px;
  justify-content: center;
  align-items: center;
}

.left h1 {
  font-size: 50px;
  font-weight: 100;
}

.left h4 {
  font-weight: bold;
}

.right img {
  width: 600px;
  aspect-ratio: 1;
}

.left button {
  background-color: rgba(124, 124, 124, 0.51);
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #2a454e;
  color: #f0f0f0;
  border: 0;
}

/* about */

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 25px 250px;
}

.about img {
  width: auto;
  height: 300px;
}

.about p {
  text-align: justify;
}

/*skills*/

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 50px;
}

.skills img {
  height: 100px;
  width: auto;
}

/* projects */

.projects {
  display: flex;
  gap: 25px;
  margin: 0px 60px;
  margin-bottom: 60px;
}

#project {
  border: 2px solid #2a454e ;
  padding: 25px;
  width: 400px;
}

#project .tech {
  display: flex;
  flex-direction: row;
  margin: 25px 0px;
  gap: 25px;
}

#project .tech img {
  height: 30px;
  padding: 0%;
}

#project h1 {
  margin-bottom: 15px;
  color: #2a454e;
}

#project p {
  text-align: justify;
}

#project i {
  font-size: 25px;
  color: #2a454e;
  margin-left: 2%;
}

/* footer */

.footer{
  background-color: #2a454e;
  text-align: center;
  color: #f0f0f0;
}

.footer p {
  padding: 25px;
}
